<div class="container-fluid">
	<div class="row">
		<div class="col-md-8" id="fquotes">
            <h1>Famous Quotes</h1>
        <p> 
            "The greatest glory in living lies not in never falling, but in rising every time we fall." -Nelson Mandela
        </p>
        <p>
            "Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma – which is living with the results of other people's thinking." -Steve Jobs
        </p>
        <p>
            "If you look at what you have in life, you'll always have more. If you look at what you don't have in life, you'll never have enough." -Oprah Winfrey
        </p>
        <p>
            "If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success." -James Cameron
        </p>
        <p>
            "Life is what happens when you're busy making other plans." -John Lennon
        </p>
        
		</div>
		<div class="col-md-4" id="photo">
            <div class="card">
                <img src="/assets/images/martin.jpeg" alt="MLK" style="width:100%">
                <div class="container">
                  <h4><b>Martin Luther King</b></h4>
                  <p>Well known Orator</p>
                </div>
              </div>
		</div>
	</div>
</div>
            
