<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<div class="card">
<div class="quote">
    
        <!-- <input type="checkbox"/> -->

        <h5>{{quote.body}}</h5>
        <br>
        <p> <b> Orator : </b> <i> {{quote.author}} </i>
         
        <b>submitted by : </b> <i> {{quote.title}} </i>
          <br>

        {{ numberOfVotes }}

        <button (click)="upVoteClick()">Upvote</button>
        <button (click)="downVoteClick()">Downvote</button>

         <button (click)="onDelete(quote)" class="del">trash</button>
        </p>
        
        
    
</div>
</div>