.btnUpVote{
  background-color: #259319 ;
  border-radius: 20px;
  margin: 10px;
  border: none;
  color: white;
  border-color: white;
}

.btnDownVote{
  background-color: #DE2838;
  border-radius: 20px;
  margin: 10px;
  border: none;
  color: white;
  border-color: white;
}


.del {
    background-color: #DE2838;
    border: none;
    color: white;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    font-family: cursive;
    padding: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }