.del {
    background-color: #DE2838;
    border: none;
    color: white;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }

  .quote {
      background: #f4f4f4;
      padding: 10px;
      border-bottom: 1px #ccc dotted;
  }